@import url('https://fontlay.com/css2?family=Comfortaa:wght@300..700&display=swap');

/* 1. General */
* {
  --accent-color-solid: rgb(0 128 0);
  --accent-color-bg: rgb(0 200 0 / 25%);
  --accent-color-bg-solidified: rgb(191, 241, 191);
  --link-color: rgb(48, 86, 169);
}

html {
  font-family: Comfortaa, serif;
}

i { font-style: italic; }
b { font-weight: bold; }

a:not(.ampersand-link), summary {
  color: var(--link-color);

  &:hover {
    text-decoration: underline;
  }
}

main {
  margin: 0 5% 5em 5%;
}

span.accent {
  font-weight: inherit;
  border: 2px solid var(--accent-color-solid);
  background-color: var(--accent-color-bg);
  border-radius: 0.5em;
  padding: 0.075em 0.15em 0.05em 0.15em;
  white-space: nowrap;
}

/* 2. Header */

header {
  text-align: center;

  & hgroup {
    margin-bottom: 1.5em;
  }

  & h1 {
    margin: 0.5em 0.5em 0 0.5em;
    font-size: 3em;
    font-weight: bold;
  }

  & h2 {
    font-size: 1.5em;
    margin-bottom: 0.2em;
  }
}


/* 3. Navigation menu */

a.ampersand-link {
  color: var(--accent-color-solid);
  font-weight: bold;
  display: none;

  :hover > & {
    display: inline;
  }

  &:hover {
    text-decoration: underline;
  }
}

nav {
  border: 2px solid var(--accent-color-solid);
  border-radius: 0.5em;
  margin: 0 5% 1em 5%;
  padding: 1em;
}

nav h1 {
  font-size: 2.0em;
}

nav menu {
  padding-left: 1.5em;

  & li:has(> details)::marker {
    content: "\25B8  "; /* closed item */
  }

  & li:has(> details:is(:open, [open]))::marker {
    content: "\25BE  "; /* open item */
  }

  & li:not(:has(> details))::marker {
    content: ""; /* non-interactable item */
  }
}

#up-button {
  position: fixed;
  bottom: 0.75em;
  right: 0.75em;
  width: 1.3em;
  height: 1.3em;

  font-size: 2em;
  border: 2px solid var(--accent-color-solid);
  border-radius: 100%;
  background-color: var(--accent-color-bg-solidified);
  text-align: center;
}

/* 4. hr */

.hr-like {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 5em auto;
  width: 75%;

  &::before, &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
  }

  &:not(:empty)::before {
    margin-right: 1em;
  }

  &:not(:empty)::after {
    margin-left: 1em;
  }
}

/* 5. Main content */
article {
  & h1 {
    font-size: 2.2em;
    font-weight: bold;
    margin-bottom: 0.25em;
    margin-top: 2em;

    &::before {
      content: "> ";
    }
  }

  & h2 {
    font-size: 2em;
    font-weight: bold;
  }

  & :not(h1) + h2 {
    margin-top: 1em;
  }

  & h3 {
    font-size: 1.7em;
    font-weight: bold;
  }

  & :not(h2) + h3 {
    margin-top: 0.7em;
  }

  & h4 {
    font-size: 1.4em;
    text-decoration: underline;
  }

  & :not(h3) + h4 {
    margin-top: 0.5em;
  }

  & h5 {
    font-size: 1.2em;
    font-style: italic;
  }

  & :not(h4) + h5 {
    margin-top: 0.3em;
  }

  & ul {
    list-style-type: disc;
  }

  & ol {
    list-style-type: decimal;
  }

  & li {
    margin-left: 2em;
  }

  li > span.marker {
    display: none;
  }

  & a.up-link {
    color: var(--accent-color-solid);
    display: none;

    :hover > & {
      display: inline;
    }
  }

  & details {
    padding: 0.5em;
    margin-top: 1em;
    border: 2px solid var(--accent-color-solid);
    border-radius: 0.5em;
    background-color: var(--accent-color-bg);
    cursor: default;

    & > summary {
      cursor: pointer;
    }

    & > summary::before {
      content: "\25B8  "; /* closed */
    }

    &:is([open], :open) > summary {
      border-bottom: 2px solid var(--accent-color-solid);

      &::before {
        content: "\25BE  "; /* open */
      }
    }

    & > summary + * {
      margin-top: 0.5em;
    }
  }

  & ol {
    margin-top: 0.25em;
  }
}

.ru {
  display: none;
}

:has(#ru-button:checked) * {
  &.ru {
    display: inherit;
  }
  &.no-ru {
    display: none;
  }
}

/* 6. Tables */
table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  overflow-y: clip;
  white-space: nowrap;
  margin: 1em 0 1em 0;

  & td, & th {
    border: 2px solid var(--accent-color-solid);
    padding: 0.5em;
    text-align: center;
  }

  & th {
    background-color: var(--accent-color-bg);
  }

  & td.small {
    padding: 0.05em;
  }

  & th, & caption {
    font-weight: bold;
  }

  & caption {
    margin-bottom: 0.5em;
    white-space: wrap;
  }
}

/* 7. Patches */
#patch1 {
  list-style-type: "2-6. ";
}

#patch2, #patch3 {
  list-style-type: "4-6. ";
}

#patch4 {
  list-style-type: "1-6. ";
}
