@import url('https://api.fonts.coollabs.io/css2?family=Comfortaa:wght@300..700&display=swap');

/* 1. General */
* {
  --accent-color-solid: rgb(0 128 0);
  --accent-color-bg: rgb(0 200 0 / 25%);
  --link-color: rgb(48, 86, 169);
}

body {
  font-family: Comfortaa, serif;
}

i { font-style: italic; }
b { font-weight: bold; }

a:not(.up-link, .ampersand-link) {
  color: var(--link-color);

  &:hover {
    text-decoration: underline;
  }
}

main {
  margin: 0 5% 5em 5%;
}

/* 2. Header */

header > * {
  text-align: center;
}

header > h1 {
  margin: 1em 0.5em 0 0.5em;
  font-size: 2.5em;
  font-weight: bold;
}

header > h2 {
  font-size: 1.5em;
  margin-bottom: 1em;
}

/* 3. Navigation menu */

a.ampersand-link {
  color: var(--accent-color-solid);
  font-weight: bold;
  display: none;

  :hover > & {
    display: inline;
  }

  &:hover {
    text-decoration: underline;
  }
}

nav {
  border: 2px solid var(--accent-color-solid);
  border-radius: 0.5em;
  margin: 0 5% 1em 5%;
  padding: 1em;
}

nav h1 {
  font-size: 2.0em;
}

nav menu {
  padding-left: 1.5em;

  & input:not(:checked) + menu {
    display: none;
  }

  & input[type=checkbox] {
    display: none;
  }

  & label {
    color: var(--link-color);

    &:hover {
      text-decoration: underline;
    }
  }

  & li:has(> input:checked)::marker {
    content: "\25BE  "; /* opened item */
  }

  & li:has(> input:not(:checked))::marker {
    content: "\25B8  "; /* closed item */
  }

  & li:not(:has(> input))::marker {
    content: ""; /* non-interactable item */
  }
}

/* 4. hr */

.hr-like {
  display: flex;
  align-items: center;
  text-align: center;
  margin: 5em auto;
  width: 75%;

  &::before, &::after {
    content: "";
    flex: 1;
    border-bottom: 1px solid #000;
  }

  &:not(:empty)::before {
    margin-right: 1em;
  }

  &:not(:empty)::after {
    margin-left: 1em;
  }
}

/* 5. Main content */
article h1 {
  font-size: 2.0em;
  font-weight: bold;
  margin-bottom: 0.25em;
  
  &::before {
    content: "> ";
  }

  &:not(#abbrs) {
    margin-top: 2em;
  }
}

article h2 {
  font-size: 1.7em;
  font-weight: bold;
}

article :not(h1 + *) > h2 {
  margin-top: 1em;
}

article h3 {
  font-size: 1.4em;
}

article :not(h2 + *) > h3 {
  margin-top: 0.5em;
}

article h4 {
  font-size: 1.2em;
}

article :not(h3 + *) > h4 {
  margin-top: 0.3em;
}

article ul {
  list-style-type: disc;

}

article ol {
  list-style-type: decimal;

}

article li {
  margin-left: 2em;
}

span.accent {
  font-weight: inherit;
  border: 2px solid var(--accent-color-solid);
  background-color: var(--accent-color-bg);
  border-radius: 0.5em;
  padding: 0 0.1em 0 0.1em;
  white-space: nowrap;
}

a.up-link {
  color: var(--accent-color-solid);
  display: none;

  :hover > & {
    display: inline;
  }
}

/* 6. tables */
table {
  border-collapse: collapse;
  display: block;
  overflow-x: auto;
  overflow-y: clip;
  white-space: nowrap;
  margin: 1em 0 1em 0;

  & td, & th {
    border: 2px solid var(--accent-color-solid);
    padding: 0.5em;
    text-align: center;
  }

  & td.small {
    padding: 0.05em;
  }

  & th, & caption {
    font-weight: bold;
  }

  & caption {
    margin-bottom: 0.5em;
    white-space: wrap;
  }
}

/* 7. Patches */
#patch1 {
  list-style-type: "2-6. ";
}

#patch2 {
  list-style-type: "4-6. ";
}
